fieldset.nycc-add-venue .nycc-multiselect {
  height: 170px;
  overflow-y:scroll;
  max-height: 170px;
}

.nycc-add-venue-submit {
  text-align: center;
  padding: 10px 0;
  font-size: 18pt;
}
.nycc-add-venue-submit input {
  font-size: 14pt;
  padding: 6px 15px;
}
.nycchess-item-detail-venue-filters {
  line-height: 2em;
  font-size: 12pt;
  margin: 1em 0 .5em;
  font-weight: bold;
  clear:both;
}
.venue-filter {
  border: 1px solid black;
  border-radius: .5em;
  padding: .25em .75em;
  margin: 0 .2em;
}
.venue-filter:hover {
  background-color: #b4c8ff;
  background: -moz-linear-gradient(top, rgba(184,206,224,.5) 0%, rgba(66,135,255,0.4) 62%);
  background: -webkit-linear-gradient(top, rgba(184,206,224,.5) 0%,rgba(66,135,255,0.4) 62%);
  background: linear-gradient(to bottom, rgba(184,206,224,.5) 0%,rgba(66,135,255,0.4) 62%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8cee0', endColorstr='#c94287ff',GradientType=0 );
}
.venue-filter.selected {
  color: #ffffff;
  background-color: #7cb37c;
  background: -moz-linear-gradient(top, #7cb37c 0%, #286b28 61%);
  background: -webkit-linear-gradient(top, #7cb37c 0%,#286b28 61%);
  background: linear-gradient(to bottom, #7cb37c 0%,#286b28 61%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb7e2', endColorstr='#286b28',GradientType=0 );
}
.table-venue-list th {
  text-align:left;
}
.register-venue-button {
  display:none;
}
.register-venue-label {
  padding: .25em 1em;
  margin: 0;
  border: 1px solid black;
  border-radius: .5em;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .1em;
  max-width:7em;
}
.register-venue-label:hover {
  cursor:pointer;
  background-color: #add8e6;
}
input.register-venue-button:checked + label.register-venue-label {
  color: #106010;
  background: -moz-radial-gradient(center, ellipse cover, rgba(122,255,168,1) 17%, rgba(213,255,211,1) 71%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(122,255,168,1) 17%,rgba(213,255,211,1) 71%);
  background: radial-gradient(ellipse at center, rgba(122,255,168,1) 17%,rgba(213,255,211,1) 71%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7affa8', endColorstr='#d5ffd3',GradientType=1 );
}
input[name="register_venue_submit"] {
  float: right;
  background-color: #40a040;
  border: #006800 double 3px;
  border-radius: 1em;
  padding: .75em 1.5em;
  font-size: 16pt;
  margin-right: 1em;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: .05em;
}